#footer{
    position: absolute;
    width: 1440px;
    height: 454px;
    background-color: var(--dark-gray);
    margin-top: 3290px;
    margin-bottom: 100px;
    color: var(--text-color);
    display: flex;
    padding-top: 72px;

    #logo-container{
        width: 253px;
        height: 44px;
        margin-left: 104px;
    }

    #text{
        width: 307px;
        height: 78px;
        margin-top: 79px;
        margin-left: 104px;
        font-size: 16px;
        font-weight: 400;
    }

    #icons{
        width: 124.12px;
        height: 20.53px;
        margin-left: 104px;
        margin-top: 79px;
        left: 104px;
        display: flex;
        gap: 20px;

        .icon{
            width: 20.53px;
            height: 20.53px;
            margin-right: 20px;
            cursor: pointer;
        }

    }

}

.whiteIcon{
    filter: brightness(0) invert(1);
}

#grupos{
    position: absolute;
    display: flex;
}

#coluna1{
    position: absolute;
    display:block;
    width: 135px;
    height: 278px;
    margin-left: 612px;    
    
    #group8035-1{
        padding-bottom: 30px;
    }
}

.informationsTitle{
    padding-bottom: 30px;
}

.informations{
    a{
        text-decoration: none;
        color: var(--white);
        font-size: 16px;
        font-weight: 400;
    }
}

#coluna2{
    position: absolute;
    width: 96px;
    height: 240px;
    margin-left: 849px;

    #informationsTitle{
        padding-bottom: 30px;
    }

    #group8034-1{
        padding-bottom: 30px;
    }
}

#coluna3{
    position: absolute;
    width: 233px;
    height: 168px;
    margin-left: 1053px;

    #group53512{
        padding-bottom: 30px;
    }

    #group53512-1{
        padding-bottom: 30px;
    }
}

#linha{
    position: absolute;
    width: 1240px;
    height: 1px;
    margin-left: 104px;
    margin-top: 334px;
    opacity: 30%;
    background-color: var(--white);
}

#direitos{
    position: absolute;
    width: 1440px;
    height: 24px;
    margin-top: 340px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}
