/* Container principal do layout para implementar o sticky footer */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o container ocupe pelo menos a altura da viewport */
}

/* Estilos para o conteúdo principal dentro do Layout */
.main-content {
    display: block; /* Padrão para <main>, pode ser omitido */
    width: 100%; /* Ocupa a largura do container pai */
    margin: 0 auto; /* Centraliza se max-width for atingido */
    /* height: 681px; Removida altura fixa para permitir que o conteúdo determine a altura */
    flex-grow: 1; /* Mantido para o sticky footer */
    box-sizing: border-box;
}
