.product-detail-container{
    width: 100%;padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--light-gray-3);
}

.product-description-container{
    display: flex;
    gap: 10px;
}

.carousel-container{
    flex: 1;
    display: flex;
    width: 40%;

    ProductCarrossel{
        width: 100%;
        height: 400px;
    }
}

.detail-text-container{
    width: 45%;
    flex-direction: column;
    padding-right: 10px;
}

.detail-title{
    width: 30rem;
    height: 72px;
    font-weight: 700;
    font-size: 32px;
}

.detail-subtitle{
    width: 30rem;
    height: 21px;
    font-family: 'Text Tinny - Desktop';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: var(--dark-gray-3);
}

.detail-reviews{
    width: 30rem;
    height: 21px;
    font-weight: 500;
    font-size: 12px;
}

.detail-prices-container{
    display: flex;
    width: 15rem;
    justify-content: space-between;
}

#price-fragmented{
    display: flex;
    flex-direction: column;
}

.price-with-discount-bills{
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 32px;
}

#detail-legend-size-buttons{
    display: flex;
    gap: 15px;
    margin: 10px;
}

#size-button{
    width: 2rem;
    height: 2rem;
    border: 1px;
    border-radius: 4px;
    background-color: var(--light-gray-2);
    color: black;
}

#detail-legend-colors-options{
    display: flex;
    gap: 15px;
    margin: 10px;
}

#cor{
    border-radius: 15px 15px 15px 15px;
    border: 1px solid;
    width: 2rem;
    height: 2rem;
}

#buy-button{
    width: 18rem;
    height: 48px;
    border-radius: 10px;
    background-color: rgb(255, 174, 0);
}

