#pesquisa {
    display: flex;
    flex-direction: column; /* Empilha input e botão em mobile, se necessário */
    align-items: center;
    position: relative; /* Mantido para o ícone de pesquisa */
    width: 100%;
    max-width: 56vw; /* Limita a largura da pesquisa */
}

#inputPesquisa {
    display: flex;
    width: 100%;
    position: relative; /* Para o ícone */
}

#inputPesquisa input {
    width: 45vw;
    height: 3.5vw; /* Ajuste a altura */
    border-radius: 8px;
    padding-left: 15px; /* Espaço para texto */
    padding-right: 45px; /* Espaço para o ícone */
    background-color: var(--light-gray-3);
    border: 1px solid var(--light-gray-2);
}

#searchIcon {
    width: 1.8vw;
    height: 1.8vw;
    margin-top: 1.7vw;
    right: 12%;
    position: absolute;
    cursor: pointer; /* Posiciona à direita dentro do input */
    transform: translateY(-50%);
}
