* {
  margin: 0;
  padding: 0;
}

#header{
  width: 1440px;
  height: 192px;
  display:flex;
  gap: 30px;
}

#linha1{
  display: flex;
  padding-top: 10px;
  height: 60px;
}

#logo {
  width: 253px;
  height: 44px;
  display: flex;
  color: #C92071;
}

#vector{
  width: 44px;
  height: 44px;
  display: flex;
  color: #C92071;
  margin-top: 7px;
}

#marca p{
  width: 212px;
  height: 44px;
  display: flex;
  font-size: 36.4px;
  font-weight: 600;
}

#logoPesquisa{
  width: 993px;
  height: 129px;
  padding-top: 4px;
  display: flex;
  color: #C92071;
}

#cabecalho{
  width: 993px;
  height: 129px;
  padding-top: 34px;
  margin-left: 100px;
  display:block;
}

#pesquisa{
  display: flex;
  width: 709px;
  height: 60px;
  justify-content: space-between;
  position: relative;

  #inputPesquisa{
    display: flex;

    input{
      width: 559px;
      height: 60px;
      border-radius: 8px;
      padding-right: 40px;
      background-color: --dark-gray-3;
    }

  }

  #searchIcon{
    width: 18.76px;
    height: 19.22px;
    position: absolute;
    top: 15px;
    left: 520px;
  }

}

#linha2 nav{
  width: 423px;
  height: 29px;
  margin-top: 45px;
  display: flex;
}

#btEntrarCarrinho{
  display: flex;
  gap: 40px;
}

#btEntrar{
  width: 114px;
  height: 40px;
  border-radius: 8px;
  background-color: #C92071;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 44px;
}

#carrinhoDeCompras{
  width: 33px;
  height: 29px;
  margin-top: 47px;

}
